* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --gray-50: #fefefe;
  --gray-100: #f8f8f8;
  --gray-150: #e2e2e2;;
  --gray-200: #A8A8B3;
  --gray-300: #737380;
  --gray-800: #29292e;

  --white: #fff;

  --purple-50: #F4F0FF;;
  --purple: #835afd;
  
  --pink: #e559f9;
  --orange: #ea4335;
}

html, body, #root {
  min-height: 100%;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--gray-100);
  color: var(--gray-800);
}

body, input, button, textarea {
  font: 400 1rem 'Roboto', sans-serif;
}
